.ProdutosContent {
  padding: 40px 0;
}

.ProdutosContent .ProdutosContainer .col {
  padding: 0;
}

.ProdutosContent .ProdutosContainer .CardContainer {
  margin: 10px;
  border: 1px solid #329a35;
}

.ProdutosContent .ProdutosContainer .CardContent {
  padding: 12px 20px 4px 20px;
  text-align: center;
  background: #eaf3eb;
}

.ProdutosContent .ProdutosContainer .CardImagem {
  text-align: center;
}

.ProdutosContent .ProdutosContainer .CardImagem img {
  width: 100%;
}

.ProdutosContent .ProdutosContainer .CardContent .Titulo {
  font-weight: bold;
}

.ProdutosContent .ProdutosContainer .CardContent .Valor {
  font-size: 22px;
}
